In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.3'

http://pandas.pydata.org/

Pandas es la extensión logica de numpy al mundo del Análisis de datos. 

De forma muy general, Pandas extrae la figura del Dataframe conocida por aquellos que usan R a python.

Un pandas dataframe es una tabla, lo que es una hoja de excel, con filas y columnas.

En pandas cada columna es una Serie que esta definida con un numpy array por debajo.

# Creacion

pandas puede leer archivos de muchos tipos, csv, json, excel entre otros

In [3]:
{
        "nombre": ["Goku", "Vegeta"],
        "nombre_saiya": ["Cacaroto", "Vegeta"],
        "edad": [32, 33],
    }

{'nombre': ['Goku', 'Vegeta'],
 'nombre_saiya': ['Cacaroto', 'Vegeta'],
 'edad': [32, 33]}

In [4]:
dbz = pd.DataFrame(
    {
        "nombre": ["Goku", "Vegeta"],
        "nombre_saiya": ["Cacaroto", "Vegeta"],
        "edad": [32, 33],
    }
)

dbz

   nombre nombre_saiya  edad
0    Goku     Cacaroto    32
1  Vegeta       Vegeta    33

In [5]:
dbz = pd.DataFrame(
    [
        ["Goku", "Cacaroto", 32],
        ["Vegeta", "Vegeta", 33]
    ], columns = ["nombre", "nombre_saiya", "edad"]
)
dbz

   nombre nombre_saiya  edad
0    Goku     Cacaroto    32
1  Vegeta       Vegeta    33

In [6]:
type(dbz)

pandas.core.frame.DataFrame

In [ ]:
!head -n 5 "primary_results.csv"

In [2]:
votos_primarias_us = pd.read_csv("primary_results.csv")

por convención cuando se analiza un solo dataframe se suele llamar df

In [3]:
df = votos_primarias_us

# Exploración

`shape` nos devuelve el número de filas y columnas

In [9]:
df.shape

(24611, 8)

In [12]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [13]:
df.tail()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.0
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.0
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.0
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.0
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.0

In [14]:
df.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

In [15]:
df.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

# Seleccion

In [16]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

La columna a la izquierda del state es el index. Un dataframe tiene que tener un index, que es la manera de organizar los datos.

In [17]:
df.index

RangeIndex(start=0, stop=24611, step=1)

podemos seleccionar una fila mediante su index.

In [18]:
df.loc[3]

state                         Alabama
state_abbreviation                 AL
county                        Baldwin
fips                             1003
party                        Democrat
candidate             Hillary Clinton
votes                            5290
fraction_votes                  0.647
Name: 3, dtype: object

Importante, df.loc selecciona por indice, no por posición. Podemos cambiar el indice a cualquier otra cosa, otra columna o una lista separada, siempre que el nuevo indice tenga la misma longitud que el Dataframe

In [19]:
df2 = df.set_index("county")

In [20]:
df2.head()

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Autauga,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
Autauga,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
Baldwin,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
Baldwin,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
Barbour,Alabama,AL,1005.0,Democrat,Bernie Sanders,222,0.078

In [21]:
df2.index

Index(['Autauga', 'Autauga', 'Baldwin', 'Baldwin', 'Barbour', 'Barbour',
       'Bibb', 'Bibb', 'Blount', 'Blount',
       ...
       'Sweetwater-Carbon', 'Sweetwater-Carbon', 'Teton-Sublette',
       'Teton-Sublette', 'Teton-Sublette', 'Teton-Sublette', 'Uinta-Lincoln',
       'Uinta-Lincoln', 'Uinta-Lincoln', 'Uinta-Lincoln'],
      dtype='object', name='county', length=24611)

Esto va a fallar por que df2 no tiene un indice numérico.

In [22]:
df2.loc[0]

KeyError: 0

Ahora podemos seleccionar por condado

In [23]:
df2.loc["Los Angeles"]

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Los Angeles,California,CA,6037.0,Democrat,Bernie Sanders,434656,0.420
Los Angeles,California,CA,6037.0,Democrat,Hillary Clinton,590502,0.570
Los Angeles,California,CA,6037.0,Republican,Donald Trump,179130,0.698
Los Angeles,California,CA,6037.0,Republican,John Kasich,33559,0.131
Los Angeles,California,CA,6037.0,Republican,Ted Cruz,30775,0.120

Si queremos seleccionar por el numero de fila independientemente del índice, podemos usar `iloc`

In [24]:
df2.head()

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Autauga,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
Autauga,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
Baldwin,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
Baldwin,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
Barbour,Alabama,AL,1005.0,Democrat,Bernie Sanders,222,0.078

In [25]:
df2.iloc[1]

state                         Alabama
state_abbreviation                 AL
fips                             1001
party                        Democrat
candidate             Hillary Clinton
votes                            2387
fraction_votes                    0.8
Name: Autauga, dtype: object

Seleccionamos una columna mediante '[]' como si el dataframe fuese un diccionario

In [26]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [27]:
df["state"]

0        Alabama
1        Alabama
2        Alabama
3        Alabama
4        Alabama
          ...
24606    Wyoming
24607    Wyoming
24608    Wyoming
24609    Wyoming
24610    Wyoming
Name: state, Length: 24611, dtype: object

In [28]:
df["state"][:10]

0    Alabama
1    Alabama
2    Alabama
3    Alabama
4    Alabama
5    Alabama
6    Alabama
7    Alabama
8    Alabama
9    Alabama
Name: state, dtype: object

si la columna tiene sintaxis  valida (sin espacios), se puede acceder como atributo siempre y cuando dicho atributo no exista en el dataframe

In [29]:
df.state

0        Alabama
1        Alabama
2        Alabama
3        Alabama
4        Alabama
          ...
24606    Wyoming
24607    Wyoming
24608    Wyoming
24609    Wyoming
24610    Wyoming
Name: state, Length: 24611, dtype: object

In [30]:
df.state[:10]

0    Alabama
1    Alabama
2    Alabama
3    Alabama
4    Alabama
5    Alabama
6    Alabama
7    Alabama
8    Alabama
9    Alabama
Name: state, dtype: object

por ejemplo, si creamos una columna nueva de nombre `shape` (que ya es un atributo del dataframe), solo podemos acceder a dicha columna como si fuese un diccionario

In [31]:
df["shape"] = 2021
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,2021
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,2021
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,2021
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,2021
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,2021

In [32]:
df.shape

(24611, 9)

Si seleccionamos una columna, obtenemos una Serie, si seleccionamos dos o más, obtenemos un dataframe.

In [4]:
type(df['county'])

pandas.core.series.Series

In [5]:
type(df[["county", "candidate"]])

pandas.core.frame.DataFrame

Podemos filtrar un dataframe de la misma forma que filtramos en numpy

In [7]:
df.votes>=1000

0        False
1         True
2         True
3         True
4        False
         ...
24606    False
24607    False
24608    False
24609    False
24610    False
Name: votes, Length: 24611, dtype: bool

In [12]:
df[df.votes>=100000]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
764,Arizona,AZ,Maricopa,4013.0,Democrat,Hillary Clinton,126988,0.581
800,Arizona,AZ,Maricopa,4013.0,Republican,Donald Trump,144522,0.462
1350,California,CA,Alameda,6001.0,Democrat,Hillary Clinton,107102,0.537
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570
1407,California,CA,Orange,6059.0,Democrat,Bernie Sanders,100836,0.445
1408,California,CA,Orange,6059.0,Democrat,Hillary Clinton,123723,0.546
1421,California,CA,San Diego,6073.0,Democrat,Bernie Sanders,111898,0.441
1422,California,CA,San Diego,6073.0,Democrat,Hillary Clinton,139813,0.551
1434,California,CA,Santa Clara,6085.0,Democrat,Hillary Clinton,109963,0.605
1519,California,CA,Los Angeles,6037.0,Republican,Donald Trump,179130,0.698
1552,California,CA,Orange,6059.0,Republican,Donald Trump,146888,0.767
1573,California,CA,San Diego,6073.0,Republican,Donald Trump,124255,0.784
2638,Florida,FL,Broward,12011.0,Democrat,Hillary Clinton,132527,0.725
2712,Florida,FL,Miami-Dade,12086.0,Democrat,Hillary Clinton,129467,0.747
2726,Florida,FL,Palm Beach,12099.0,Democrat,Hillary Clinton,103369,0.715
2931,Florida,FL,Miami-Dade,12086.0,Republican,Marco Rubio,111898,0.627
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536
4462,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Bernie Sanders,212428,0.457
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536
9146,Maryland,MD,Montgomery,24031.0,Democrat,Hillary Clinton,109304,0.670
9148,Maryland,MD,Prince George's,24033.0,Democrat,Hillary Clinton,113912,0.742
12205,Michigan,MI,Wayne,26163.0,Democrat,Bernie Sanders,104999,0.384
12206,Michigan,MI,Wayne,26163.0,Democrat,Hillary Clinton,163886,0.600
14963,New York,NY,Brooklyn,36047.0,Democrat,Bernie Sanders,116327,0.400
14964,New York,NY,Brooklyn,36047.0,Democrat,Hillary Clinton,174236,0.600
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663
15038,New York,NY,Queens,36081.0,Democrat,Hillary Clinton,122386,0.616
15996,Ohio,OH,Cuyahoga,39035.0,Democrat,Hillary Clinton,125914,0.632
16234,Ohio,OH,Franklin,39049.0,Republican,John Kasich,101217,0.637
17211,Pennsylvania,PA,Allegheny,42003.0,Democrat,Hillary Clinton,122399,0.551
17308,Pennsylvania,PA,Philadelphia,42101.0,Democrat,Bernie Sanders,125688,0.370
17309,Pennsylvania,PA,Philadelphia,42101.0,Democrat,Hillary Clinton,212785,0.626
19224,Texas,TX,Dallas,48113.0,Democrat,Hillary Clinton,113574,0.715
19312,Texas,TX,Harris,48201.0,Democrat,Hillary Clinton,156729,0.705
20123,Texas,TX,Harris,48201.0,Republican,Ted Cruz,147721,0.453
24181,Wisconsin,WI,Dane,55025.0,Democrat,Bernie Sanders,102585,0.626
24238,Wisconsin,WI,Milwaukee,55079.0,Democrat,Hillary Clinton,100932,0.517

podemos concatenar varias condiciones usando `&`

In [13]:
df[(df.county=="Manhattan") & (df.party=="Democrat")]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663

alternativamente podemos usar el método `query`

In [14]:
df.query("county=='Manhattan' and party=='Democrat'")

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663

In [15]:
county = 'Manhattan'
df.query("county==@county and party=='Democrat'")

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
15011,New York,NY,Manhattan,36061.0,Democrat,Bernie Sanders,90227,0.337
15012,New York,NY,Manhattan,36061.0,Democrat,Hillary Clinton,177496,0.663

# Procesado

podemos usar `sort_values` para orderar el dataframe acorde al valor de una columna

In [16]:
df_sorted = df.sort_values(by="votes", ascending=False)
df_sorted.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536

In [17]:
df.groupby(["state", "party"])

In [18]:
df.groupby(["state", "party"])["votes"].sum()

state          party
Alabama        Democrat       386327
               Republican     837632
Alaska         Democrat          539
               Republican      21930
Arizona        Democrat       399097
                              ...
West Virginia  Republican     188138
Wisconsin      Democrat      1000703
               Republican    1072699
Wyoming        Democrat          280
               Republican        903
Name: votes, Length: 95, dtype: int64

podemos usar `apply` en una columna para obtener una nueva columna en función de sus valores

In [20]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,letra_inicial
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,A
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,A
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,A
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,A
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,A

In [19]:
df['letra_inicial'] = df.state_abbreviation.apply(lambda s: s[0])

¿Del partido democrata cual es el estado que tiene mayor cantidad de votosa?

In [22]:
df.groupby("candidate")["votes"].sum().sort_values(ascending = False)

candidate
Hillary Clinton    15692452
Donald Trump       13302541
Bernie Sanders     11959102
Ted Cruz            7603006
John Kasich         4159949
Marco Rubio         3321076
Ben Carson           564553
Jeb Bush              94411
Chris Christie        24353
Carly Fiorina         15191
Rand Paul              8479
 No Preference         8152
Mike Huckabee          3345
Rick Santorum          1782
Martin O'Malley         752
 Uncommitted             43
Name: votes, dtype: int64

In [23]:
df.groupby("party")["votes"].sum().sort_values(ascending = False)

party
Republican    29098686
Democrat      27660501
Name: votes, dtype: int64

In [21]:
df.groupby("letra_inicial")["votes"].sum().sort_values()

letra_inicial
H      46886
D     160416
R     179594
U     254203
L     585781
K     760181
S    1225289
V    1984632
G    2032941
A    2686599
W    3010087
P    3176340
F    3940929
O    4904270
T    5348465
C    5590683
I    5657521
N    7329864
M    7884506
Name: votes, dtype: int64

Podemos unir dos dataframes en funcion de sus columnas comunes usando `merge`

In [24]:
# Descargamos datos de pobreza por condado en US en https://www.ers.usda.gov/data-products/county-level-data-sets/county-level-data-sets-download-data/
df_pobreza = pd.read_csv("PovertyEstimates.csv")

In [25]:
df_pobreza.head()

   FIPStxt  PCTPOVALL_2015
0        0            14.7
1     1000            18.5
2     1001            12.7
3     1003            12.9
4     1005            32.0

In [26]:
df = df.merge(df_pobreza, left_on="fips", right_on="FIPStxt")
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,letra_inicial,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,A,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,A,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,A,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,A,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,A,1001,12.7

In [27]:
county_votes = df.groupby(["county","party"]).agg({
    "fraction_votes":"mean",
    "PCTPOVALL_2015": "mean"   
   }
)
county_votes

                      fraction_votes  PCTPOVALL_2015
county    party
Abbeville Democrat          0.494000            19.1
          Republican        0.166667            19.1
Acadia    Democrat          0.425500            23.7
          Republican        0.241750            23.7
Accomack  Democrat          0.497000            20.4
...                              ...             ...
Zapata    Republican        0.188400            30.9
Zavala    Democrat          0.468000            32.0
          Republican        0.000000            32.0
Ziebach   Democrat          0.500000            47.1
          Republican        0.333333            47.1

[3267 rows x 2 columns]

# Exportar

podemos escribir a excel, necesitamos instalar el paquete `xlwt`

In [ ]:
!conda install -y xlwt

In [ ]:
dbz.to_excel("dbz.xls", sheet_name="personajes")

podemos leer de excel, necesitamos el paquete `xlrd`

In [ ]:
!conda install -y xlrd

In [ ]:
dbz2 = pd.read_excel("dbz.xls", sheetname="personajes")

In [ ]:
dbz.head()