In [1]:
import pandas as pd

In [2]:
dbz = pd.DataFrame(
    {
        "nombre": ["Goku", "Vegeta"],
        "nombre_saiya": ["Cacaroto", "Vegeta"],
        "edad": [33, 30],
        
    }
)

In [3]:
dbz

   nombre nombre_saiya  edad
0    Goku     Cacaroto    33
1  Vegeta       Vegeta    30

In [4]:
dbz = pd.DataFrame(
    [
     ["Goku", "Cacaroto", 33],
     ["Vegeta", "Vegeta", 39]
    ], columns = ["nombre", "nombre_saiya", "edad"]
)

In [5]:
dbz

   nombre nombre_saiya  edad
0    Goku     Cacaroto    33
1  Vegeta       Vegeta    39

In [6]:
type(dbz)

pandas.core.frame.DataFrame

In [8]:
votos_primarias_us = pd.read_csv("primary_results.csv")

In [9]:
votos_primarias_us

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
5,Alabama,AL,Barbour,1005.0,Democrat,Hillary Clinton,2567,0.906
6,Alabama,AL,Bibb,1007.0,Democrat,Bernie Sanders,246,0.197
7,Alabama,AL,Bibb,1007.0,Democrat,Hillary Clinton,942,0.755
8,Alabama,AL,Blount,1009.0,Democrat,Bernie Sanders,395,0.386
9,Alabama,AL,Blount,1009.0,Democrat,Hillary Clinton,564,0.551
10,Alabama,AL,Bullock,1011.0,Democrat,Bernie Sanders,178,0.066
11,Alabama,AL,Bullock,1011.0,Democrat,Hillary Clinton,2451,0.913
12,Alabama,AL,Butler,1013.0,Democrat,Bernie Sanders,156,0.065
13,Alabama,AL,Butler,1013.0,Democrat,Hillary Clinton,2196,0.921
14,Alabama,AL,Calhoun,1015.0,Democrat,Bernie Sanders,1425,0.218
15,Alabama,AL,Calhoun,1015.0,Democrat,Hillary Clinton,5011,0.765
16,Alabama,AL,Chambers,1017.0,Democrat,Bernie Sanders,312,0.095
17,Alabama,AL,Chambers,1017.0,Democrat,Hillary Clinton,2899,0.886
18,Alabama,AL,Cherokee,1019.0,Democrat,Bernie Sanders,268,0.249
19,Alabama,AL,Cherokee,1019.0,Democrat,Hillary Clinton,712,0.661
20,Alabama,AL,Chilton,1021.0,Democrat,Bernie Sanders,289,0.246
21,Alabama,AL,Chilton,1021.0,Democrat,Hillary Clinton,860,0.731
22,Alabama,AL,Choctaw,1023.0,Democrat,Bernie Sanders,273,0.124
23,Alabama,AL,Choctaw,1023.0,Democrat,Hillary Clinton,1772,0.802
24,Alabama,AL,Clarke,1025.0,Democrat,Bernie Sanders,213,0.063
25,Alabama,AL,Clarke,1025.0,Democrat,Hillary Clinton,3148,0.930
26,Alabama,AL,Clay,1027.0,Democrat,Bernie Sanders,135,0.137
27,Alabama,AL,Clay,1027.0,Democrat,Hillary Clinton,807,0.818
28,Alabama,AL,Cleburne,1029.0,Democrat,Bernie Sanders,72,0.238
29,Alabama,AL,Cleburne,1029.0,Democrat,Hillary Clinton,221,0.732
...,...,...,...,...,...,...,...,...
24581,Wyoming,WY,Fremont-Park,95600029.0,Republican,Marco Rubio,0,0.000
24582,Wyoming,WY,Fremont-Park,95600029.0,Republican,Ted Cruz,64,0.660
24583,Wyoming,WY,Goshen-Platte,95600035.0,Republican,Donald Trump,0,0.000
24584,Wyoming,WY,Goshen-Platte,95600035.0,Republican,John Kasich,0,0.000
24585,Wyoming,WY,Goshen-Platte,95600035.0,Republican,Marco Rubio,0,0.000
24586,Wyoming,WY,Goshen-Platte,95600035.0,Republican,Ted Cruz,83,1.000
24587,Wyoming,WY,Hot Springs-Washakie,95600030.0,Republican,Donald Trump,0,0.000
24588,Wyoming,WY,Hot Springs-Washakie,95600030.0,Republican,John Kasich,0,0.000
24589,Wyoming,WY,Hot Springs-Washakie,95600030.0,Republican,Marco Rubio,0,0.000
24590,Wyoming,WY,Hot Springs-Washakie,95600030.0,Republican,Ted Cruz,43,1.000
24591,Wyoming,WY,Laramie,95600036.0,Republican,Donald Trump,0,0.000
24592,Wyoming,WY,Laramie,95600036.0,Republican,John Kasich,0,0.000
24593,Wyoming,WY,Laramie,95600036.0,Republican,Marco Rubio,38,0.176
24594,Wyoming,WY,Laramie,95600036.0,Republican,Ted Cruz,141,0.653
24595,Wyoming,WY,Sheridan-Big Horn,95600031.0,Republican,Donald Trump,0,0.000
24596,Wyoming,WY,Sheridan-Big Horn,95600031.0,Republican,John Kasich,0,0.000
24597,Wyoming,WY,Sheridan-Big Horn,95600031.0,Republican,Marco Rubio,30,0.400
24598,Wyoming,WY,Sheridan-Big Horn,95600031.0,Republican,Ted Cruz,45,0.600
24599,Wyoming,WY,Sweetwater-Carbon,95600026.0,Republican,Donald Trump,16,0.180
24600,Wyoming,WY,Sweetwater-Carbon,95600026.0,Republican,John Kasich,0,0.000
24601,Wyoming,WY,Sweetwater-Carbon,95600026.0,Republican,Marco Rubio,28,0.315
24602,Wyoming,WY,Sweetwater-Carbon,95600026.0,Republican,Ted Cruz,45,0.506
24603,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Donald Trump,21,0.525
24604,Wyoming,WY,Teton-Sublette,95600028.0,Republican,John Kasich,0,0.000
24605,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Marco Rubio,19,0.475
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000

In [10]:
df = votos_primarias_us

In [11]:
df.shape

(24611, 8)

In [14]:
df.head(10)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078
5,Alabama,AL,Barbour,1005.0,Democrat,Hillary Clinton,2567,0.906
6,Alabama,AL,Bibb,1007.0,Democrat,Bernie Sanders,246,0.197
7,Alabama,AL,Bibb,1007.0,Democrat,Hillary Clinton,942,0.755
8,Alabama,AL,Blount,1009.0,Democrat,Bernie Sanders,395,0.386
9,Alabama,AL,Blount,1009.0,Democrat,Hillary Clinton,564,0.551

In [16]:
df.tail(10)

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
24601,Wyoming,WY,Sweetwater-Carbon,95600026.0,Republican,Marco Rubio,28,0.315
24602,Wyoming,WY,Sweetwater-Carbon,95600026.0,Republican,Ted Cruz,45,0.506
24603,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Donald Trump,21,0.525
24604,Wyoming,WY,Teton-Sublette,95600028.0,Republican,John Kasich,0,0.000
24605,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Marco Rubio,19,0.475
24606,Wyoming,WY,Teton-Sublette,95600028.0,Republican,Ted Cruz,0,0.000
24607,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Donald Trump,0,0.000
24608,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,John Kasich,0,0.000
24609,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Marco Rubio,0,0.000
24610,Wyoming,WY,Uinta-Lincoln,95600027.0,Republican,Ted Cruz,53,1.000

In [17]:
df.dtypes

state                  object
state_abbreviation     object
county                 object
fips                  float64
party                  object
candidate              object
votes                   int64
fraction_votes        float64
dtype: object

In [18]:
df.describe()

               fips          votes  fraction_votes
count  2.451100e+04   24611.000000    24611.000000
mean   2.667152e+07    2306.252773        0.304524
std    4.200978e+07    9861.183572        0.231401
min    1.001000e+03       0.000000        0.000000
25%    2.109100e+04      68.000000        0.094000
50%    4.208100e+04     358.000000        0.273000
75%    9.090012e+07    1375.000000        0.479000
max    9.560004e+07  590502.000000        1.000000

In [23]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078

In [24]:
df.index

RangeIndex(start=0, stop=24611, step=1)

In [25]:
df.loc[0]

state                        Alabama
state_abbreviation                AL
county                       Autauga
fips                            1001
party                       Democrat
candidate             Bernie Sanders
votes                            544
fraction_votes                 0.182
Name: 0, dtype: object

In [26]:
df2 = df.set_index("county")

In [27]:
df2.head()

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Autauga,Alabama,AL,1001.0,Democrat,Bernie Sanders,544,0.182
Autauga,Alabama,AL,1001.0,Democrat,Hillary Clinton,2387,0.800
Baldwin,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
Baldwin,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
Barbour,Alabama,AL,1005.0,Democrat,Bernie Sanders,222,0.078

In [32]:
df2.loc["Baldwin"]

,state,state_abbreviation,fips,party,candidate,votes,fraction_votes
county,,,,,,,
Baldwin,Alabama,AL,1003.0,Democrat,Bernie Sanders,2694,0.329
Baldwin,Alabama,AL,1003.0,Democrat,Hillary Clinton,5290,0.647
Baldwin,Alabama,AL,1003.0,Republican,Ben Carson,4221,0.084
Baldwin,Alabama,AL,1003.0,Republican,Donald Trump,23618,0.469
Baldwin,Alabama,AL,1003.0,Republican,John Kasich,2987,0.059
Baldwin,Alabama,AL,1003.0,Republican,Marco Rubio,9703,0.193
Baldwin,Alabama,AL,1003.0,Republican,Ted Cruz,8571,0.170
Baldwin,Georgia,GA,13009.0,Democrat,Bernie Sanders,762,0.199
Baldwin,Georgia,GA,13009.0,Democrat,Hillary Clinton,3034,0.794
Baldwin,Georgia,GA,13009.0,Republican,Ben Carson,350,0.077
Baldwin,Georgia,GA,13009.0,Republican,Donald Trump,2069,0.458
Baldwin,Georgia,GA,13009.0,Republican,John Kasich,184,0.041
Baldwin,Georgia,GA,13009.0,Republican,Marco Rubio,961,0.213
Baldwin,Georgia,GA,13009.0,Republican,Ted Cruz,880,0.195
Baldwin,Maine,ME,92300026.0,Democrat,Bernie Sanders,2,0.667
Baldwin,Maine,ME,92300026.0,Democrat,Hillary Clinton,1,0.333

In [31]:
df2.iloc[100]

state                        Alabama
state_abbreviation                AL
fips                            1101
party                       Democrat
candidate             Bernie Sanders
votes                           4266
fraction_votes                 0.128
Name: Montgomery, dtype: object

In [38]:
df["state"][:3]

0    Alabama
1    Alabama
2    Alabama
Name: state, dtype: object

In [39]:
df.state[:3]

0    Alabama
1    Alabama
2    Alabama
Name: state, dtype: object

In [35]:
df["shape"] = 666

In [36]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,666
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,666
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,666
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,666
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,666

In [37]:
df.shape

(24611, 9)

In [41]:
type(df["county"])

pandas.core.series.Series

In [42]:
type(df[["county", "candidate"]])

pandas.core.frame.DataFrame

In [44]:
df.describe()

               fips          votes  fraction_votes    shape
count  2.451100e+04   24611.000000    24611.000000  24611.0
mean   2.667152e+07    2306.252773        0.304524    666.0
std    4.200978e+07    9861.183572        0.231401      0.0
min    1.001000e+03       0.000000        0.000000    666.0
25%    2.109100e+04      68.000000        0.094000    666.0
50%    4.208100e+04     358.000000        0.273000    666.0
75%    9.090012e+07    1375.000000        0.479000    666.0
max    9.560004e+07  590502.000000        1.000000    666.0

In [45]:
df[df.votes>=590502]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.57,666

In [47]:
df[(df.county == "Manhattan") & (df.party == "Republican")]

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
15162,New York,NY,Manhattan,36061.0,Republican,Donald Trump,10393,0.418,666
15163,New York,NY,Manhattan,36061.0,Republican,John Kasich,11251,0.452,666
15164,New York,NY,Manhattan,36061.0,Republican,Ted Cruz,3243,0.130,666

In [49]:
df.query("county=='Manhattan' and party=='Republican'")

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
15162,New York,NY,Manhattan,36061.0,Republican,Donald Trump,10393,0.418,666
15163,New York,NY,Manhattan,36061.0,Republican,John Kasich,11251,0.452,666
15164,New York,NY,Manhattan,36061.0,Republican,Ted Cruz,3243,0.130,666

In [52]:
df_sorted = df.sort_values(by="votes", ascending=False)

In [54]:
df_sorted.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape
1386,California,CA,Los Angeles,6037.0,Democrat,Hillary Clinton,590502,0.570,666
1385,California,CA,Los Angeles,6037.0,Democrat,Bernie Sanders,434656,0.420,666
4451,Illinois,IL,Chicago,91700103.0,Democrat,Hillary Clinton,366954,0.536,666
4450,Illinois,IL,Chicago,91700103.0,Democrat,Bernie Sanders,311225,0.454,666
4463,Illinois,IL,Cook Suburbs,91700104.0,Democrat,Hillary Clinton,249217,0.536,666

In [55]:
df.groupby(["state", "party"])

In [56]:
df.groupby(["state", "party"])["votes"].sum()

state           party
Alabama         Democrat       386327
                Republican     837632
Alaska          Democrat          539
                Republican      21930
Arizona         Democrat       399097
                Republican     435103
Arkansas        Democrat       209448
                Republican     396523
California      Democrat      3442623
                Republican    1495574
Colorado        Democrat       121184
Connecticut     Democrat       322485
                Republican     208817
Delaware        Democrat        92609
                Republican      67807
Florida         Democrat      1664003
                Republican    2276926
Georgia         Democrat       757340
                Republican    1275601
Hawaii          Democrat        33658
                Republican      13228
Idaho           Democrat        23705
                Republican     215284
Illinois        Democrat      1987834
                Republican    1384703
Indiana         Democrat       638638
                Republican    1080653
Iowa            Democrat       139980
                Republican     186724
Kansas          Democrat        39043
                               ...
Oklahoma        Democrat       313392
                Republican     452731
Oregon          Democrat       572485
                Republican     361490
Pennsylvania    Democrat      1638644
                Republican    1537696
Rhode Island    Democrat       119213
                Republican      60381
South Carolina  Democrat       367491
                Republican     737917
South Dakota    Democrat        53004
                Republican      66877
Tennessee       Democrat       365637
                Republican     834939
Texas           Democrat      1410641
                Republican    2737248
Utah            Democrat        76999
                Republican     177204
Vermont         Democrat       134198
                Republican      58762
Virginia        Democrat       778865
                Republican    1012807
Washington      Democrat        26299
                Republican     510851
West Virginia   Democrat       210214
                Republican     188138
Wisconsin       Democrat      1000703
                Republican    1072699
Wyoming         Democrat          280
                Republican        903
Name: votes, Length: 95, dtype: int64

In [59]:
df["letra_inicial"]=df.state_abbreviation.apply(lambda s: s[0])

In [60]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape,letra_inicial
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,666,A
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,666,A
2,Alabama,AL,Baldwin,1003.0,Democrat,Bernie Sanders,2694,0.329,666,A
3,Alabama,AL,Baldwin,1003.0,Democrat,Hillary Clinton,5290,0.647,666,A
4,Alabama,AL,Barbour,1005.0,Democrat,Bernie Sanders,222,0.078,666,A

In [62]:
df.groupby("letra_inicial")["votes"].sum().sort_values()

letra_inicial
H      46886
D     160416
R     179594
U     254203
L     585781
K     760181
S    1225289
V    1984632
G    2032941
A    2686599
W    3010087
P    3176340
F    3940929
O    4904270
T    5348465
C    5590683
I    5657521
N    7329864
M    7884506
Name: votes, dtype: int64

In [63]:
df_pobreza = pd.read_csv("PovertyEstimates.csv")

In [65]:
df_pobreza.head()

   FIPStxt  PCTPOVALL_2015
0        0            14.7
1     1000            18.5
2     1001            12.7
3     1003            12.9
4     1005            32.0

In [66]:
df=df.merge(df_pobreza, left_on="fips", right_on="FIPStxt")

In [67]:
df.head()

,state,state_abbreviation,county,fips,party,candidate,votes,fraction_votes,shape,letra_inicial,FIPStxt,PCTPOVALL_2015
0,Alabama,AL,Autauga,1001.0,Democrat,Bernie Sanders,544,0.182,666,A,1001,12.7
1,Alabama,AL,Autauga,1001.0,Democrat,Hillary Clinton,2387,0.800,666,A,1001,12.7
2,Alabama,AL,Autauga,1001.0,Republican,Ben Carson,1764,0.146,666,A,1001,12.7
3,Alabama,AL,Autauga,1001.0,Republican,Donald Trump,5387,0.445,666,A,1001,12.7
4,Alabama,AL,Autauga,1001.0,Republican,John Kasich,421,0.035,666,A,1001,12.7

In [78]:
df.groupby(["county", "party"]).agg({
    "PCTPOVALL_2015": "count",
    "fraction_votes": "max"
})

                        PCTPOVALL_2015  fraction_votes
county      party
Abbeville   Democrat                 2           0.818
            Republican               6           0.369
Acadia      Democrat                 2           0.537
            Republican               4           0.445
Accomack    Democrat                 2           0.720
            Republican               5           0.479
Ada         Democrat                 2           0.805
            Republican               4           0.403
Adair       Democrat                10           0.588
            Republican              24           0.578
Adams       Democrat                24           0.867
            Republican              42           0.790
Aiken       Democrat                 2           0.702
            Republican               6           0.316
Alachua     Democrat                 2           0.492
            Republican               4           0.382
Alamance    Democrat                 2           0.537
            Republican               4           0.409
Alameda     Democrat                 2           0.537
            Republican               3           0.669
Alamosa     Democrat                 2           0.630
Albany      Democrat                 4           0.758
            Republican               3           0.481
Albemarle   Democrat                 2           0.545
            Republican               5           0.371
Alcona      Democrat                 2           0.487
            Republican               4           0.518
Alcorn      Democrat                 2           0.708
            Republican               4           0.504
Alexander   Democrat                 4           0.600
...                                ...             ...
Yankton     Democrat                 2           0.549
            Republican               3           0.636
Yates       Democrat                 2           0.548
            Republican               3           0.526
Yavapai     Democrat                 2           0.529
            Republican               3           0.476
Yazoo       Democrat                 2           0.908
            Republican               4           0.548
Yell        Democrat                 2           0.582
            Republican               5           0.376
Yellowstone Democrat                 2           0.502
            Republican               3           0.712
Yoakum      Democrat                 2           0.476
            Republican               5           0.439
Yolo        Democrat                 2           0.518
            Republican               3           0.723
York        Democrat                 8           0.670
            Republican              17           0.599
Young       Democrat                 2           0.586
            Republican               5           0.463
Yuba        Democrat                 2           0.511
            Republican               3           0.828
Yuma        Democrat                 4           0.637
            Republican               3           0.495
Zapata      Democrat                 2           0.678
            Republican               5           0.395
Zavala      Democrat                 2           0.755
            Republican               5           0.000
Ziebach     Democrat                 2           0.589
            Republican               3           0.687

[3267 rows x 2 columns]