# Multiple Linear Regression

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [2]:
dataset = pd.read_csv('Advertising.csv')
dataset.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [3]:
y = dataset['Sales']
X = dataset.drop('Sales', axis=1)

In [4]:
X.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

## Splitting the dataset into the Training set and Test set

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Training the Multiple Linear Regression model on the Training set

In [6]:
import statsmodels.api as sm
mod = sm.OLS(y_train, X_train)
res = mod.fit()

In [7]:
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Sales   R-squared (uncentered):                   0.984
Model:                            OLS   Adj. R-squared (uncentered):              0.984
Method:                 Least Squares   F-statistic:                              3191.
Date:                Mon, 03 May 2021   Prob (F-statistic):                   2.03e-140
Time:                        20:16:32   Log-Likelihood:                         -331.22
No. Observations:                 160   AIC:                                      668.4
Df Residuals:                     157   BIC:                                      677.7
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
TV             0.0528      0.001     36.622      0.000       0.050       0.056
Radio          0.2327      0.010     23.630      0.000       0.213       0.252
Newspaper      0.0136      0.007      1.868      0.064      -0.001       0.028
==============================================================================
Omnibus:                        2.123   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.346   Jarque-Bera (JB):                2.140
Skew:                           0.273   Prob(JB):                        0.343
Kurtosis:                       2.847   Cond. No.                         12.5
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Predicting the Test set results

In [ ]:
y_pred = res.predict(X_test)
np.set_printoptions(precision=2)

In [ ]:
y_pred

In [ ]:
list(y_test)

In [ ]:
plt.scatter(y_pred, y_test, color = 'red')

plt.title('Salary vs Experience (Test set)')
plt.xlabel('Years of Experience')
plt.ylabel('Salary')
plt.show()

In [ ]:
np.corrcoef(y_pred, y_test)